#mainContainer{
    max-width: 1750px;
    margin: auto;
}
#hotspotter__module {
    margin-bottom: 30px;
    padding: 100px 0;
  }
  @media screen and (max-width: 768px) {
    #hotspotter__module {
      display: none;
      /* padding: 50px 0; */
    }

    #mainContainer{
      margin: 0 16px;
    }
  }
  @media screen and (max-width: 992px) {
    #hotspotter__module {
      margin-bottom: 45px;
    }
  }
  #hotspotter__module .dual__swiper-container .swiper-wrapper {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide {
    position: relative;
    /* overflow: hidden; */
  }
  #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide.tetra__image-container {
    width: 50%;
    margin-right: 15px;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide.tetra__image-container .dual__swiper__overlay {
    width: 49%;
    overflow: hidden;
  }
  #hotspotter__module .dual__swiper__overlay:nth-of-type(1),
  #hotspotter__module .dual__swiper__overlay:nth-of-type(2){
    margin-bottom: 15px;
  }
  #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide .dual__swiper__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  
  #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide .dual__swiper--text-wrapper .overlay__redirect {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  @media screen and (max-width: 768px) {
    #hotspotter__module .dual__swiper-container .swiper-wrapper .dual__swiper__slide .dual__swiper--text-wrapper .overlay__redirect {
      display: none;
    }
    #hotspotter__module .dual__swiper__overlay:nth-of-type(1),
    #hotspotter__module .dual__swiper__overlay:nth-of-type(2){
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:768px){
    .tt-wrap{
      min-width: 200px;
    }
  }
  

  @media only screen and (max-width: 768px) {
    #hotspotter__module .dual__swiper-container .swiper-wrapper {
      flex-flow: column;
    }
    .tetra__image-container{
        width: 100% !important;
    }
    .dual__swiper__overlay{
        width: 25% !important;
    }
    .tip-tooltip{
      font-size: 11px;
      width: 120px !important;
    }

    /* #insulated + .tt-wrap .tip-tooltip{
      width: 120px !important;
    } */
  }

  @media only screen and (min-width: 769px) and (max-width: 1100px) {
    .tip-tooltip{
      font-size: 12px;
    }

    #insulated + .tt-wrap .tip-tooltip{
      width: 110px !important;
    }
  }
  
  /* #controlled-area{
    background: url('../img/BlackClassicII_02.jpg') transparent top left no-repeat;
  } */

  #controlled-area{
    /* width: 50%; */
  }
  @media only screen and (min-width: 768px) {
    #controlled-area{
      width: 50%;
    }
    #hotspotter__module--mobile{
      display: none;
    }
  }