#navbar {
    @media screen and (min-width: 992px) {
      height: 126px;
    }
    // @media screen and (max-width: 768px) {
    //      height: 54px;
    // }

    .navbar__mobile-nav {
      // @media screen and (max-width: 768px) {
      //   height: 54px;
      // }
      .navbar__button.mobile-drop {
        color: #000000;
        .icon-x {
          font-size: 32px;
          display: none;
        }
      }
      #sidebarCollapseMobile{
        .icon-cart{
          position: relative;
          font-size: 2.5rem;
          color: #000000;
          .badge {
            position: absolute;
            top: 54%;
            right: -5px;
            left: 0;
            margin: auto;
            // border-radius: 50%;
            // background: #1d1c1d;
            color: white;
            transform: translateY(-50%);
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            // height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'trade-gothic-next', Arial, sans-serif;
          }
        }
      }
    }

    &.navbar--open {
      .navbar__mobile-nav {
        .navbar__button.mobile-drop {
          .icon-x {
            display: block;
          }

          .icon-mobile-menu {
            display: none;

          }
        }
      }

      @media screen and (max-width: 992px) {
        background: #171717 !important;

        .navbar__mobile-nav {
          background: white;
          // height: 54px;
        }

        .newHomePage__subnav {
          .navbar__mobile-nav--dropdown {
            padding: 23.5px 20px 0;
          }

          .justified__spacing-mobile {
            height: 70px;
            padding-bottom: 35px;
            padding-top: 20px;
          }

          .justified__spacing-mobile--inverted {
            height: 70px;
            padding-top: 35px;
            padding-bottom: 20px;
          }

          .navbar__top-tier-item---mobile-unique {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
      @media screen and (max-width: 768px) {
        .navbar__mobile-nav {
          height: 54px;
        }
      }
    }
  }

  // Updated style of Sub navigation
  .newHomePage__subnav {
    @media screen and (min-width: 1750px) {
      max-width: 1750px;
      margin: auto;
    }

    #navbar__subnav--search {
      @media screen and (max-width: 992px) {
        display: none !important;
      }

      .navbar__subnav--search-wrapper {
        .navbar__subnav--search-field {
          background: #e6e6e6;
          border-radius: 30px;
          border: 0;
          padding: 5px 15px;
          margin-right: 10px;
          font-size: 16px;
          height: 40px;

          &::placeholder {
            font-size: 16px;
          }
        }

        .navbar__subnav--search-btn {
          background: #171717;
          font-size: 20px;
          text-transform: uppercase;
          color: #ffffff;
          padding: 5px 10px 5px 19px;
          border-radius: 30px;
          letter-spacing: .5px;

          .icon-link-arrow {
            font-size: 16px;
          }
        }
      }
    }

    .navbar__mobile-nav--dropdown {
      width: 100%;

      #sidebarCollapse {
        font-size: 3rem;
        .icon-cart {
          position: relative;

          .badge {
            position: absolute;
            top: 48%;
            right: -5px;
            left: 0;
            margin: auto;
            // border-radius: 50%;
            // background: #1d1c1d;
            color: white;
            transform: translateY(-50%);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            // height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'trade-gothic-next', Arial, sans-serif;
          }
        }
      }

      .navbar__top-tier-item {
        letter-spacing: 0.5px;

        @media screen and (min-width: 992px) {
          height: 126px;
        }

        @media screen and (max-width: 992px) {
          border-bottom: 0;
          border-top: 1px solid #707070;
          font-family: inherit;

          &.navbar__top-tier-item---mobile {
            font-size: 24px;
            font-weight: 400;
            font-family: "front_page_neueregular";
          }
        }
      }

      .navbar__subnav {
        right: 0px;
        margin: auto;
        // max-width: 1750px;

        .fixed__width__lg {
          @media screen and (min-width: 992px) {
            max-width: 1445px;
            margin: auto;
          }
         

          .navbar__subnav__col-wrapper {
            @media screen and (min-width: 992px) {
              padding-top: 18px;
              margin: 0;
            }
            
          }
        }

        .navbar__subnav__col-wrapper {
          @media screen and (max-width: 992px) {
            padding-top: 5px;
          }
        }
      }

      .mobile__subnav__viewport--adjustment {
        @media screen and (max-width: 992px) {
          background: #171717;
          color: #ffffff;
          width: 100vw;
          margin-left: -20px;
          padding: 0 20px;
        }

        .subnav__mobile__icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-size: contain;

          &.subnav__login-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23.973' height='23.956' viewBox='0 0 23.973 23.956' style='&%2310;'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1486' data-name='Rectangle 1486' width='23.973' height='23.956' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_2014' data-name='Group 2014' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1106' data-name='Path 1106' d='M9.4,12.549H1.385A1.188,1.188,0,0,1,.107,11.311C.1,10.768.094,10.228.116,9.685A1.635,1.635,0,0,1,1.008,8.25c1.825-1,3.658-1.969,5.483-2.96.131-.074.214,0,.313.046a5.364,5.364,0,0,0,4.772.206.44.44,0,0,0,.138-.063c.337-.287.641-.173.991.02,1.637.9,3.286,1.788,4.936,2.667a1.822,1.822,0,0,1,1.05,1.761c-.009.457,0,.91,0,1.367a1.191,1.191,0,0,1-1.26,1.256Z' transform='translate(2.59 8.716)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath id='Path_1107' data-name='Path 1107' d='M6.836,11.031A4.556,4.556,0,0,1,3.165,8.915a6,6,0,0,1,.4-7.218,4.426,4.426,0,0,1,6.829.026,5.95,5.95,0,0,1-.287,7.984A4.529,4.529,0,0,1,6.836,11.031Z' transform='translate(5.019 2.59)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E");
          }

          &.subnav__location-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Group_2017' data-name='Group 2017' width='27.862' height='28.248' viewBox='0 0 27.862 28.248'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1487' data-name='Rectangle 1487' width='27.862' height='28.248' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_2016' data-name='Group 2016' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1108' data-name='Path 1108' d='M10.7,8.092a2.664,2.664,0,1,0-.8,1.879A2.65,2.65,0,0,0,10.7,8.092ZM7.884,21.334a1.181,1.181,0,0,1-.512-.461C5.4,18.081,3.412,15.3,1.451,12.5A7.487,7.487,0,0,1,.138,8.867,7.866,7.866,0,0,1,4.759.854a7.681,7.681,0,0,1,8.436,1.185,7.548,7.548,0,0,1,2.748,5.1A7.794,7.794,0,0,1,14.49,12.74q-2.863,4.035-5.733,8.084a1.255,1.255,0,0,1-.541.51Z' transform='translate(5.878 3.407)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E");
          }

          &.subnav__phone-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.619' height='18.66' viewBox='0 0 18.619 18.66'%3E%3Cg id='Group_2013' data-name='Group 2013' transform='translate(0.749 0.842)'%3E%3Cg id='Group_2018' data-name='Group 2018' transform='translate(0 0)'%3E%3Cpath id='Path_1105' data-name='Path 1105' d='M15.9,12.244a1.33,1.33,0,0,0-2,0c-.476.476-.951.92-1.4,1.4-.032.032-.063.063-.1.063l-.317.317a.238.238,0,0,1-.285,0c-.285-.159-.634-.285-.92-.476A13.881,13.881,0,0,1,7.4,10.373a8.208,8.208,0,0,1-1.268-2,.24.24,0,0,1,.032-.317l.317-.317.063-.063.412-.412c.317-.317.634-.634.951-.983a1.354,1.354,0,0,0,0-2.061c-.349-.381-.729-.733-1.11-1.11L5.658,1.967a1.335,1.335,0,0,0-2,0c-.476.476-.92.951-1.4,1.4a2.334,2.334,0,0,0-.729,1.554,6.424,6.424,0,0,0,.507,2.791,17.316,17.316,0,0,0,3.012,5.042A18.448,18.448,0,0,0,11.239,17.6a8.69,8.69,0,0,0,3.428.983,2.533,2.533,0,0,0,2.156-.824c.412-.444.856-.856,1.268-1.3a1.32,1.32,0,0,0,0-2.029C17.422,13.735,16.661,12.973,15.9,12.244Z' transform='translate(-1.525 -1.517)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          }

          &.subnav__envelope-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Group_2022' data-name='Group 2022' width='23.412' height='15.417' viewBox='0 0 23.412 15.417' style='&%2310;'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1489' data-name='Rectangle 1489' width='23.412' height='15.417' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_2021' data-name='Group 2021' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1110' data-name='Path 1110' d='M.06.235a1.324,1.324,0,0,0-.015.2V9.761a1.4,1.4,0,0,0,1.4,1.4H17.757a1.4,1.4,0,0,0,1.4-1.4V.438a1.324,1.324,0,0,0-.015-.2M.615.045c-.2,0-.555,0-.555.27L8.986,7.766a.868.868,0,0,0,1.22,0L19.156.315c0-.27-.365-.27-.562-.27Z' transform='translate(2.106 2.106)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E");
          }

          &.subnav__chat-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Group_1865' data-name='Group 1865' width='21.192' height='18.798' viewBox='0 0 21.192 18.798'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1448' data-name='Rectangle 1448' width='21.192' height='18.798' fill='none' stroke='%23707070' stroke-width='1.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_1864' data-name='Group 1864' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1082' data-name='Path 1082' d='M18.31.955H4.091A3.153,3.153,0,0,0,.954,4.091v8.063a3.154,3.154,0,0,0,3.137,3.136H8.064v3.16a.586.586,0,0,0,.348.534.809.809,0,0,0,.233.046.628.628,0,0,0,.394-.139l4.02-3.6h5.228a3.154,3.154,0,0,0,3.136-3.136V4.091A3.117,3.117,0,0,0,18.31.955Z' transform='translate(-0.593 -0.594)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath id='Path_1083' data-name='Path 1083' d='M38.716,18.007a.823.823,0,1,1-.008,0h.008' transform='translate(-23.559 -11.197)' fill='%23fff'/%3E%3Cpath id='Path_1084' data-name='Path 1084' d='M26.661,18.007a.825.825,0,1,1-.825.825.825.825,0,0,1,.825-.825' transform='translate(-16.065 -11.197)' fill='%23fff'/%3E%3Cpath id='Path_1085' data-name='Path 1085' d='M14.61,18.007a.825.825,0,1,1-.826.825.825.825,0,0,1,.826-.825h0Z' transform='translate(-8.571 -11.197)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
          }

          &.subnav__shipping-icon {
            width: 30px;
            background-position-y: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25.493' height='13.166' viewBox='0 0 25.493 13.166'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1445' data-name='Rectangle 1445' width='25.493' height='13.166' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_1860' data-name='Group 1860' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1077' data-name='Path 1077' d='M5.373,9.788v.892a.926.926,0,0,0,.926.926H7.566a.018.018,0,0,1,.018.014,2.41,2.41,0,0,0,4.641,0,.018.018,0,0,1,.018-.014h6.749a.018.018,0,0,1,.018.014,2.41,2.41,0,0,0,4.641,0,.018.018,0,0,1,.018-.014h1.089a.927.927,0,0,0,.948-.907V9.589a.869.869,0,0,0-.77-.905.018.018,0,0,1-.017-.018V6.358a1.581,1.581,0,0,0-1.576-1.576l-2.118-.2a.02.02,0,0,1-.014-.009s-1.927-2.908-1.965-2.908A1.583,1.583,0,0,0,17.945,1H6.964A1.607,1.607,0,0,0,5.391,2.363a.019.019,0,0,1-.018.016m-.985,5.91h2.73M2.575,6.165H8.822M1,4.035H6.87' transform='translate(-0.606 -0.606)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath id='Path_1078' data-name='Path 1078' d='M51.39,25.545a.862.862,0,1,1,.862-.862.866.866,0,0,1-.862.862' transform='translate(-30.618 -14.435)' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3Cpath id='Path_1079' data-name='Path 1079' d='M22.39,25.545a.862.862,0,1,1,.862-.862.866.866,0,0,1-.862.862' transform='translate(-13.045 -14.435)' fill='none' stroke='%23fff' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E");
          }
        }
      }
    }

    #navbar__subnav--search-mobile {
      .navbar__subnav__col-wrapper {
        padding-top: 0;
        padding-bottom: 28px;
      }

      .navbar__subnav--search-wrapper {
        // padding-left: 0;

        .navbar__subnav--search-field {
          background: #e6e6e6;
          border-radius: 30px;
          border: 0;
          padding: 5px 15px;
          margin-right: 10px;
        }
      }

      .navbar__subnav--search-btn {
        background: #171717;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 30px;
        letter-spacing: .5px;
      }
    }

    .navbar__subnav {
      @media screen and (max-width: 992px) {
        background-color: #ffffff;
      }

      .navbar__subnav__col-wrapper {
        .navbar__subnav__col {
          @media screen and (max-width: 992px) {
            padding-left: 30px;
          }

          @media screen and (min-width: 992px) {
            border-right: 0;
            position: relative;
          }

          .navbar__subnav__link--bold {
            border-bottom: 2px solid #707070;
            font-family: 'trade-gothic-next';
            font-weight: 700;
            line-height: 24px;
            
            @media screen and (min-width: 992px) {
              margin-bottom: 25px;
            }

            @media screen and (max-width: 992px) {
              border-bottom: 1px solid #707070;
            }
          }
          .navbar__subnav__link{
            margin-bottom: .5em;
            .navbar__subnav__link{
              margin-bottom: .5em;
            }
          }

          &.navbar__subnav__col--first {
            @media screen and (min-width: 992px) {
              flex: 0 0 19.8%;
              max-width: 19.8%;
              padding-right: 0;
            }
          }

          &.navbar__subnav__col--middle {
            @media screen and (min-width: 992px) {
              padding-left: 29px;
              padding-right: 0;
              flex: 0 0 38.7%;
              max-width: 38.7%;
            }
          }

          &.navbar__subnav__col--last {
            @media screen and (min-width: 992px) {
              padding-left: 11px;
              padding-right: 0;

              .container {
                padding-right: 0;

                .navbar__subnav__link--bold {
                  margin-bottom: 50px;
                }
                .navbar__subnav__link--imageText {
                  font-weight: 700;
                  font-size: 16px;
                  padding-top: 6px;
                  padding-left: 10px;
                }
              }

              
            }
            @media screen and (min-width: 1440px) {
              .navbar__subnav__link--image {
                max-width: 150px;
              }
            }
          }

          &.navbar__subnav__col--middle {
            @media screen and (max-width: 992px) {
              .row {
                flex-flow: column;

                .alpha {
                  padding-left: 15px;
                  margin-top: 20px;
                }
              }
            }

            .omega {
              margin-right: 29px;

              @media screen and (max-width: 992px) {
                padding-right: 15px;
              }
            }
          }

          .shipping__subnav-btn {
            position: absolute;
            bottom: 35px;
            width: 40vw;

            .shipping__subnav-btn--wrapper {
              .shipping_icon {
                display: inline-block;
                width: 31px;
                height: 16px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.417' height='15.709' viewBox='0 0 30.417 15.709'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1445' data-name='Rectangle 1445' width='30.416' height='15.709' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_2031' data-name='Group 2031' transform='translate(-5940.5 -412.369)'%3E%3Cg id='Group_2009' data-name='Group 2009' transform='translate(5940.5 412.369)'%3E%3Cg id='Group_1860' data-name='Group 1860' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1077' data-name='Path 1077' d='M6.217,11.485v1.064a1.1,1.1,0,0,0,1.1,1.1H8.834a.022.022,0,0,1,.021.016,2.875,2.875,0,0,0,5.537,0,.022.022,0,0,1,.021-.016h8.052a.022.022,0,0,1,.021.016,2.875,2.875,0,0,0,5.537,0,.022.022,0,0,1,.021-.016h1.3a1.106,1.106,0,0,0,1.131-1.082V11.247a1.036,1.036,0,0,0-.919-1.08.022.022,0,0,1-.02-.022V7.392a1.887,1.887,0,0,0-1.88-1.881L25.13,5.278a.024.024,0,0,1-.017-.01S22.815,1.8,22.769,1.8A1.889,1.889,0,0,0,21.217,1H8.116A1.918,1.918,0,0,0,6.239,2.627a.022.022,0,0,1-.022.019M5.042,9.7H8.3M2.879,7.163h7.454M1,4.621H8' transform='translate(-0.53 -0.53)' fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_1078' data-name='Path 1078' d='M51.557,25.878a1.028,1.028,0,1,1,1.029-1.029,1.033,1.033,0,0,1-1.029,1.029' transform='translate(-26.774 -12.622)' fill='none' stroke='%23000' stroke-width='1'/%3E%3Cpath id='Path_1079' data-name='Path 1079' d='M22.557,25.878a1.028,1.028,0,1,1,1.029-1.029,1.033,1.033,0,0,1-1.029,1.029' transform='translate(-11.407 -12.622)' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }

              .shipping__subnav-btn--text {
                font-size: 18px;
                font-weight: 700;
                text-transform: capitalize;
              }
            }
          }

          &.navbar__subnav__col--first {
            @media screen and (max-width: 992px) {
              display: unset;
            }
          }
        }
      }
    }
  }