@import "mixins.scss";

.ambassador--program__module {
    @import "navbar-redesigned.scss";

    #mainContainer {

        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        .ambassador__content--main {
            margin-top: 186px;
            text-align: center;

            @media screen and (max-width:768px) {
                margin-top: 83px;
            }

            .ambassador__content--heading {
                margin-bottom: 15px;
                font-size: 58px;
                line-height: 51px;
                color: black;
                font-family: "bogs_headlineregular", Arial, sans-serif;

                @media screen and (max-width:768px) {
                    margin-bottom: 15px;
                }

                @media screen and (max-width:576px) {
                    font-size: 40px;
                    line-height: 34px;
                }
            }

            .regular__desc {
                width: 35%;
                margin: auto;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 32px;
                color: black;

                

                &.ambassador__content--subheading {
                    margin-bottom: 20px;
                    font-size: 20px;

                    @media screen and (max-width:768px) {
                        margin-bottom: 20px;
                    }
                }

                &.ending__copy {
                    // margin-top: 30px;
                    margin-bottom: 30px;

                    @media screen and (max-width:768px) {
                        // margin-top: 25px;
                        margin-bottom: 25px;
                    }
                }

                @media screen and (max-width:992px) {
                    width: 75%;
                }

                @media screen and (max-width:576px) {
                    width: 100%;
                }
            }

            .apply__btn {
                @include shopButtonBlack;
                font-size: 24px;
                font-family: "bogs_headlineregular", Arial, sans-serif;
                width: unset;
                margin-bottom: 50px;
                letter-spacing: 1px;
                border: 2px solid transparent;
                box-sizing: content-box;

                &:hover{
                    border: 2px solid #000000;
                }

                @media screen and (max-width:992px) {
                    width: unset;
                    margin-bottom: 40px;
                }
            }
        }
    }

}

@import "footer-redesigned.scss";