@import "mixins.scss";

.index-Feb-Work__module {
  .swiper-pagination-bullet {
    transform: scale(1) !important;
  }

  @import "navbar-redesigned.scss";

  #mainContainer {
    max-width: 1750px;
    margin: auto;
    position: relative;

    @media screen and (min-width: 768px) {
      margin: auto 48px;
    }

    @media screen and (min-width: 1750px) {
      margin: auto;
    }

    @media screen and (max-width: 992px) {
      margin: 0 16px;
    }

    #hero__section {
      margin-bottom: 30px;
      margin-top: 70px;

      @media screen and (min-width: 992px) {
        margin-top: 126px;
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }

      .newLanding__textWrapper--middle {
        right: 8.6%;
        width: auto;
        top: 45%;

        @media screen and (max-width: 992px) {
          right: 10%;
        }

        @media screen and (min-width: 3450px) {
          // right: 5%;
          // width: 55%;
        }

        .newLanding__title {
          font-size: 130px;
          line-height: 118px;
          padding: 0;
          margin-bottom: 30px;
          letter-spacing: 0.5px;

          @media screen and (max-width: 1750px) {
            font-size: 100px;
            line-height: 95px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 70px;
            line-height: 60px;
          }

          @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 36px;
            margin-bottom: 25px;
          }
        }

        .shop__btn {
          @include shopButtonBlack;
          font-size: 30px;
        }
      }

      &.mobile__section-unique {
        @media screen and (max-width: 992px) {
          .newLanding__textWrapper--middle {
            right: unset;
            left: 0;
            width: 100%;
            transform: unset;
            height: 100%;
            top: 0;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 35px 35px 45px;

            .newLanding__title {
              width: 100%;
              display: inline-block;
              flex: unset;
              margin-top: 10px;
            }

            .shop__btn {
              font-size: 20px;
              max-width: 85px;
            }
          }
        }
      }
    }

    #mobile_category {
      background: transparent;
      margin-bottom: 25px;

      .mobile-category {
        padding: 0px 9vw;

        .mobile-category__link {
          color: #000000;
        }
      }
    }

    .featured__categories {
      margin-bottom: 75px;

      @media screen and (max-width: 992px) {
        margin-bottom: 0px;
      }

      .feature_slider__headline-wrapper {
        @include sectionHeading;

      }

      .featured__categories-wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          flex-flow: column;
          margin-bottom: 25px;
        }

        .featured__categories-eyebrow {
          width: 50%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          &:nth-of-type(1) {
            margin-right: 15px;

            @media screen and (max-width: 768px) {
              margin-right: 0;
              margin-bottom: 15px;
            }
          }

          .mobile__copy--eyebrow {
            padding: 0px 0px 5px;
            margin-bottom: 0;
            min-height: unset;
            font-size: 1.2rem;
            font-weight: 700;

            @media screen and (max-width: 768px) {
              display: none;
            }
          }

          .featured__categories-slider {
            position: relative;
            width: 100%;
            height: 100%;
            // width: 50%;
            overflow: hidden;



            @media screen and (max-width: 768px) {
              width: 100%;
              // margin-bottom: 25px;
            }

            .featured__categories-image {
              width: 100%;
              height: 100%;
              transition: transform 0.5s;
            }

            .visible_mobile__copy--eyebrow {
              display: none;

              @media screen and (max-width: 768px) {
                display: block;
                color: white;
                position: absolute;
                top: 30px;
                z-index: 9;
                left: 35px;
                font-size: 18px;
              }
            }

            .shop__btn {
              position: absolute;
              left: 8.5%;
              bottom: 75px;
              @include shopButtonWhite;
              font-size: 30px;

              @media screen and (max-width: 768px) {
                bottom: 35px;
                left: 35px;
              }
            }

            &:hover {
              .featured__categories-image {
                @media screen and (min-width: 768px) {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }

    #secondary__header {
      margin-top: 70px;
      margin-bottom: 75px;

      @media screen and (max-width: 992px) {
        display: none;
      }

      .newLanding__textWrapper--middle {
        right: 8.6%;
        width: 46.5%;
        top: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        @media screen and (max-width: 992px) {
          width: 100%;
          height: 100%;
          padding: 43px 35px 43px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
        }

        @media screen and (min-width: 3450px) {
          // right: 5%;
          // width: 55%;
        }

        .newLanding__title {
          font-size: 122px;
          line-height: 110px;
          padding: 0;
          margin-bottom: 35px;
          letter-spacing: 0.5px;

          @media screen and (max-width: 1750px) {
            font-size: 105px;
            line-height: 94px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 70px;
            line-height: 60px;
          }

          @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 36px;
            margin-bottom: 5px;
          }
        }

        .discount__desc--code {
          margin-bottom: 40px;
          font-size: 30px;
          line-height: 40px;
          // font-weight: bold;
          // text-transform: capitalze;
          font-family: "trade-gothic-next", Arial, sans-serif;

          @media screen and (max-width: 1750px) {
            font-size: 30px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 20px;
          }

          @media screen and (max-width: 992px) {
            font-size: 16px;
          }

          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }

        .shop__btn {
          @include shopButtonBlack;
          margin-right: 15px;

          @media screen and (max-width: 768px) {
            margin-right: 10px;
            width: unset;
          }
        }
      }
    }

    #secondary__header-mobile {
      // margin-bottom: 25px;

      @media screen and (min-width: 992px) {
        display: none;
      }

      .swiper-container {
        padding-bottom: 45px;
      }

      .dual__swiper__slide {
        position: relative;
        height: auto;

        .dual__swiper__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .dual__swiper--text-wrapper {
          height: auto;
          padding-right: 40px;
          padding: 9% 9% 9% 10%;
          // text-align: center;

          .newLanding__title {
            color: #000000;
            font-size: 48px;
          }

          .goals__description--text {
            color: #000000;
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 25px;
            // font-family: 'bogs_headlineregular', Arial, sans-serif;
          }
        }

        &.text__slide {
          background-color: #707070 !important;
        }

        .shop__btn {
          @include shopButtonBlack;
          margin-right: 15px;

          @media screen and (max-width: 768px) {
            margin-right: 10px;
            width: unset;
          }
        }
      }

      .swiper-pagination {
        @media screen and (max-width: 768px) {
          width: 100% !important;
          bottom: 15px !important;

          .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            left: 0 !important;
            background: transparent;
            opacity: 1;
            border: 2px solid #000000;

            &.swiper-pagination-bullet-active {
              background: #000000;
            }
          }
        }
      }
    }
  }

  .feature__slider-description {
    margin-top: 70px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }
}

@import "footer-redesigned.scss";