@import "mixins.scss";

.index-March__module {
  .swiper-pagination-bullet {
    transform: scale(1) !important;
  }

  @import "navbar-redesigned.scss";

  #mainContainer {
    max-width: 1750px;
    margin: auto;
    position: relative;

    @media screen and (min-width: 768px) {
      margin: auto 48px;
    }

    @media screen and (min-width: 1750px) {
      margin: auto;
    }

    @media screen and (max-width: 992px) {
      margin: 0 16px;
    }

    #hero__section {
      margin-bottom: 60px;
      margin-top: 70px;

      @media screen and (min-width: 992px) {
        margin-top: 126px;
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }

      .newLanding__textWrapper--middle {
        left: 0%;
        width: 44.5%;
        top: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        @media screen and (max-width: 992px) {
          width: 100%;
          height: 100%;
          padding: 43px 35px 43px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
        }

        @media screen and (min-width: 3450px) {
          // right: 5%;
          // width: 55%;
        }

        .newLanding__title {
          font-size: 130px;
          line-height: 118px;
          padding: 0;
          margin-bottom: 15px;
          letter-spacing: 0.5px;
          color: #171717;

          @media screen and (max-width: 1750px) {
            font-size: 90px;
            line-height: 76px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 70px;
            line-height: 60px;
          }

          @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 36px;
            margin-bottom: 5px;
          }
        }

        .shop__btn {
          @include shopButtonWhite;
          margin-right: 15px;

          @media screen and (max-width: 768px) {
            margin-right: 10px;
            width: unset;
          }
        }
      }

      &.mobile__section-unique {
        @media screen and (max-width: 992px) {
          .newLanding__textWrapper--middle {
            right: unset;
            left: 0;
            width: 100%;
            transform: unset;
            height: 100%;
            top: 0;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 35px 35px 45px;

            .newLanding__title {
              width: 100%;
              display: inline-block;
              flex: unset;
              margin-top: 10px;
            }

            .shop__btn {
              font-size: 20px;
              max-width: 85px;
            }
          }
        }
      }
    }

    #mobile_category {
      background: transparent;
      margin-bottom: 25px;

      .mobile-category {
        padding: 0px 0;

        .mobile-category__button {
          margin-bottom: 10px;
          border: 1px solid #000000;
          border-radius: 24px;

          .mobile-category__link {
            color: #000000;
            font-size: 1.5rem;
            justify-content: center;

            &:hover {
              background: #000000;
              border-radius: 24px;
              color: #ffffff;
            }
          }
        }
      }
    }

    #candid__section {
        
        margin-top: 56px;
        margin-bottom: 45px;

        .feature_slider__headline-wrapper {
            @include sectionHeading;
        }

        .goals__saection--wrapper{
            display: flex;
            width: 100%;
            @media screen and (max-width: 992px) {
                flex-flow: column;
                margin-top: 15px;
                margin-bottom: 25px;
            }

            .video__container {
                width: 65%;
                // margin-right: 20px;
    
                @media screen and (max-width: 992px) {
                    width: 100%;
                    margin-bottom: 0px;
                    margin-right: 0px;
                }
    
                video {
                    object-fit: cover;
                    min-height: 100%;
                }
    
                .video__play-btn {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    display: inline-block;
                    width: 75px;
                    height: 87px;
                    margin: auto;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='86.603' viewBox='0 0 75 86.603' style='&%2310;'%3E%3Cpath id='Path_199' data-name='Path 199' d='M0,0V86.6L37.5,64.952,75,43.3,37.5,21.65Z' fill='%23fff' opacity='0.733' style='&%2310;'/%3E%3C/svg%3E");
    
                    @media screen and (max-width: 768px) {
                        width: 50px;
                        height: 62px;
                    }
    
                    &:hover {
                        opacity: 0.5;
                    }
    
                    &.mobile__btn {
                        @media screen and (min-width: 992px) {
                            display: none;
                        }
                    }
                }
            }
    
            .goals__description--slide {
                width: 35%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                // background: #F4F4F4;
                padding: 0 4.25% 0 5.7%;
    
                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 35px 3.25% 40px 3.25%;
                    background: #F4F4F4;
                }
    
                .goals__heading {
                    margin-bottom: 5px;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: capitalize;
                    // font-family: 'bogs_headlineregular', Arial, sans-serif;
    
                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 34px;
                    }
    
                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 28px;
                        line-height: 30px;
                    }
    
                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 24px;
                        line-height: 24px;
                    }
    
                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 24px;
                        line-height: 24px;
                    }
    
                    @media screen and (max-width: 992px) {
                        font-size: 36px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
                .goals__subheading{
                    font-size: 24px;
                    font-weight: 700;
                }
    
                .goals__description--text {
                    margin: 0px 0 15px;
                    font-size: 24px;
                    line-height: 40px;
                    font-family: "trade-gothic-next", Arial, sans-serif;
    
                    @media screen and (max-width: 1750px) and (min-width: 1515px) {
                        font-size: 22px;
                        line-height: 32px;
                    }
    
                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 21px;
                        line-height: 28px;
                    }
    
                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 19px;
                        line-height: 24px;
                    }
    
                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 17px;
                        line-height: 23px;
                    }
    
                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 15px;
                        line-height: 19px;
                    }
    
                    @media screen and (max-width: 992px) {
                        font-size: 16px;
                        line-height: 30px;
                    }
                    
                }
                .shop__btn {
                    @include shopButtonBlack;
                    font-size: 25px;
                    width: max-content;
                    margin-top: 15px;
                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 22px;
                    }
    
                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 17px;
                        height: 34px;
                        line-height: 34px;
                    }
                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 16px;
                        height: 34px;
                        line-height: 34px;
                    }
                    @media screen and (max-width: 992px){
                        width: max-content;
                        font-size: 18px;
                    }

                    &:hover{
                        border: 2px solid #000000;
                    }
                  }
            }
        }
    }

    #four-h__section{
        margin-bottom: 55px;
        .feature_slider__headline-wrapper {
          @include sectionHeading;
      }
        .section__wrapper{
            display: flex;
            position: relative;
            justify-content: end;
            align-items: center;
            height: 500px;
            max-height: 500px;
            background: #f2f3f3;
            @media screen and (max-width: 1399px) {
                height: 400px;
                max-height: 400px;
            }
            @media screen and (max-width: 992px) {
              background: none;
              height: unset;
              max-height: unset;
          }
            .newLanding__textWrapper--middle {
                left: 0%;
                width: 29%;
                top: 50%;
                padding-left: 5.5%;

                @media screen and (max-width: 1299px) {
                    width: 34%;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                @media screen and (max-width: 992px) {
                    width: 100%;
                    height: 100%;
                    padding: 30px 35px 30px;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                }

                @media screen and (max-width: 540px) {
                  padding: 20px 30px;
                }

                .newLanding__title {
                    font-size: 60px;
                    line-height: 59px;
                    padding: 0;
                    margin-bottom: 25px;
                    letter-spacing: 0.5px;
                    color: #000000;

                    @media screen and (max-width: 1750px) {
                        font-size: 45px;
                        line-height: 50px;
                    }
                    @media screen and (max-width: 1399px) {
                        font-size: 36px;
                        line-height: 36px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 36px;
                        line-height: 36px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 44px;
                        line-height: 46px;
                        margin-bottom: 15px;
                    }
                    @media screen and (max-width: 540px) {
                        font-size: 30px;
                        line-height: 30px;
                        margin-bottom: 5px;
                    }
                    
                }
                .newLanding__desc{
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 25px;

                    @media screen and (max-width: 1399px) {
                        font-size: 21px;
                        line-height: 28px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 22px;
                    }

                    @media screen and (max-width: 540px) {
                      font-size: 14px;
                    }
                }
                .learn__more-btn {
                    background: #171717;
                    padding: 10px 25px;
                    border-radius: 30px;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-family: "front_page_neueregular";
                    font-weight: 400;
                    padding: 5px 15px;
                    color: #ffffff;
                    font-size: 28px;
                    letter-spacing: 1.5px;
                    border-radius: 30px;
                    text-transform: uppercase;
                    text-align: center;
                    justify-content: center;
                    z-index: 999;

                    &:hover {
                        color: #000000;
                        background: transparent;
                        border: 2px solid #000000;
                    }

                    @media screen and (max-width: 1399px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 992px) {
                      font-size: 24px;
                      max-width: 154px;
                    }

                    @media screen and (max-width: 540px) {
                      font-size: 18px;
                      max-width: 154px;
                    }
                }
            }
            .secondary__section-image--wrapper{
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .secondary__section__image{
                    width: 25%;
                    padding-left: 25px;
                }
            }
        }
    }

    #give_back__section {
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }

      .feature_slider__headline-wrapper {
        @include sectionHeading;
      }

      .give_back--wrapper {
        display: flex;
        justify-content: space-between;

        .gb__left {
          width: 50%;
          margin-right: 20px;

          .gb__image {
          }
        }

        .gb__right {
          width: 50%;
          flex-flow: column;
          display: flex;
          justify-content: space-between;

          .gb__img__wrapper {
            height: 50%;

            &:nth-of-type(1) {
              margin-bottom: 20px;
            }

            .overlay__text {
              top: 12%;
            }

            .gb__image {
              width: 100%;
            }
          }
        }

        .overlay__redirect {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .gb__img__wrapper {
          position: relative;
          overflow: hidden;
          height: 100%;

          &:hover {
            .overlay__wrapper {
              display: flex;
              opacity: 1;
              flex-flow: column;
              justify-content: space-between;
              align-items: start;
              padding: 50px 35px;
            }

            .gb__image {
              @media screen and (min-width: 768px) {
                transform: scale(1.1);
              }
            }
          }

          .gb__image {
            height: 100%;
            transition: transform 0.5s;
          }
        }

        .overlay__text {
          position: absolute;
          top: 6%;
          left: 8.5%;
          font-size: 60px;
          // font-weight: 700;
          font-family: "bogs_headlineregular", Arial, sans-serif;
          color: #ffffff;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          z-index: 9;

          @media screen and (max-width: 1400px) {
            font-size: 50px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 45px;
          }

          @media screen and (max-width: 992px) {
            font-size: 40px;
          }
        }

        .overlay__wrapper {
          // display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
          opacity: 0;

          justify-content: flex-start;
          align-items: end;

          &:hover {
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            opacity: 1;
            background: rgba(0, 0, 0, 33%);
            transition: background 250ms ease-out 0s, opacity 250ms ease-out 0s;
          }

          .learn__more-btn {
            background: #ffffff;
            padding: 10px 25px;
            border-radius: 30px;
            text-transform: uppercase;
            cursor: pointer;
            font-family: "front_page_neueregular";
            font-weight: 400;
            padding: 5px 15px;
            color: #171717;
            background: #ffffff;
            font-size: 28px;
            letter-spacing: 1.5px;
            border-radius: 30px;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            z-index: 999;

            &:hover {
              background: #000000;
              color: #ffffff !important;
            }

            @media screen and (max-width: 768px) {
              margin-left: 35px;
            }
          }

          @media screen and (max-width: 768px) {
            display: flex;
            height: 100px;
            top: unset;
            bottom: 0;
            opacity: 1;
            justify-content: flex-start;
            background: none;
          }
        }
      }
    }

    #give_back__section-mobile {
      margin-bottom: 25px;

      @media screen and (min-width: 992px) {
        display: none;
      }

      .feature_slider__headline-wrapper {
        @include sectionHeading;
      }

      .dual__swiper__slide {
        position: relative;

        .dual__swiper__image {
          width: 100%;
        }

        .dual__swiper--text-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .dual__swiper--text {
            margin-bottom: 0;
            font-family: "bogs_headlineregular", Arial, sans-serif;
            color: #ffffff;
            // font-weight: 700;
            font-size: 34px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
          }

          .learn__more-btn {
            position: absolute;
            bottom: 110px;
            background: #ffffff;
            width: 154px;
            height: 34px;
            cursor: pointer;
            font-family: "bogs_headlineregular", Arial, sans-serif;
            font-weight: 400;
            color: #171717;
            background: #ffffff;
            font-size: 24px;
            letter-spacing: 1.5px;
            border-radius: 30px;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            line-height: 34px;
            z-index: 999;
          }
        }
      }

      .swiper-pagination {
        @media screen and (max-width: 768px) {
          width: 100% !important;
          bottom: 15px !important;

          .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            left: 0 !important;
            background: transparent;
            opacity: 1;
            border: 2px solid #ffffff;

            &.swiper-pagination-bullet-active {
              background: #ffffff;
            }
          }
        }
      }
    }
  }

  .feature__slider-description {
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 18px;
    }
  }
}

@import "footer-redesigned.scss";
