@import "mixins.scss";

.landing-sustainability__module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
            overflow: hidden;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        #hero__section {
            margin-top: 70px;
            margin-bottom: 55px;

            @media screen and (max-width: 768px) {
                margin-bottom: 35px;
                margin-top: 70px;
            }

            .newLanding__textWrapper--middle {
                left: 0%;
                width: 44.5%;
                top: 50%;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                @media screen and (max-width: 992px) {
                    width: 100%;
                    height: 100%;
                    padding: 43px 35px 43px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                @media screen and (min-width: 3450px) {
                    // right: 5%;
                    // width: 55%;
                }

                .newLanding__title {
                    font-size: 130px;
                    line-height: 118px;
                    padding: 0;
                    margin-bottom: 30px;
                    letter-spacing: 0.5px;

                    @media screen and (max-width: 1750px) {
                        font-size: 90px;
                        line-height: 76px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 70px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 40px;
                        line-height: 36px;
                    }
                }
            }
        }

        #textual__section {
            position: relative;
            padding: 0px 5%;
            margin-bottom: 15px;

            @media screen and (max-width: 768px) {
                margin-bottom: 45px;
                overflow: hidden;
                padding: 0;
            }

            .swiper-wrapper{
                flex-flow: column;

                @media screen and (max-width: 768px) {
                    flex-flow: unset;
                    padding-bottom: 35px;
                }

                p {
                    font-size: 28px;
                    font-family: "trade-gothic-next", Arial, sans-serif;
                    line-height: 50px;
                    padding: 0px 5%;
    
                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    @media screen and (min-width: 768px) {
                        width: 100% !important;
                        
                    }
    
                    &:nth-of-type(1) {
                        margin-bottom: 50px;
                        @media screen and (max-width: 768px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .swiper-pagination{
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                    bottom: 0px !important;
                }

                .swiper-pagination-bullet{
                    width: 11px;
                    height: 11px;
                }
            }
            
        }

        #feature_slider {
            margin-bottom: 15px;

            @media screen and (max-width: 992px) {
                margin-bottom: 0px;
            }

            .feature_slider__headline-wrapper {
                @include sectionHeading;


                .feature_slider__headline {
                    font-size: 80px;
                    line-height: 118px;
                    font-weight: 400;
                    text-align: center;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;
                    text-transform: uppercase;


                    @media screen and (max-width: 992px) {
                        width: 75%;
                        margin: 0 auto 15px;
                        font-size: 34px;
                        line-height: 34px;
                    }
                }
            }

            .feature-product__sustainablity {
                width: 90%;
                margin: auto;
                overflow: visible;
                padding-bottom: 58px;
                margin-bottom: 50px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    overflow: hidden;
                }

                .swiper-wrapper {
                    @media screen and (max-width: 768px) {
                        padding-bottom: 60px;
                    }
                    .feature_slider__slide {
                        display: flex;
                        flex-flow: column;
                        justify-content: start;
                        align-items: center;
                        // background: #E7E7E7;
                        padding: 0;
                        transform: none;
                        overflow: hidden;

                        @media screen and (max-width: 768px) {
                            flex: 0 0 100%;
                            flex-flow: column-reverse;
                            max-width: 100%;
                            padding-top: 0;
                        }

                        a {
                            text-align: center;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                                margin-bottom: 15px;
                            }

                            .feature_slider__image {
                                width: 100%;
                            }
                        }

                        .overlay__wrapper {
                            // display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 8% 8%;
                            z-index: 9;
                            opacity: 0;
                            // background: rgba(0, 0, 0, 33%);
                            // transition: background ease-in-out 5s,
                            //   opacity ease-in-out 5s;
                            flex-flow: column;
                            justify-content: start;
                            align-items: self-start;

                            .overlay__redirect {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;

                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }

                            @media screen and (max-width: 768px) {
                                position: unset;
                                display: flex;
                                height: 100%;
                                top: unset;
                                bottom: 40px;
                                opacity: 1;
                                // align-items: flex-end;
                                justify-content: flex-start;
                                background: #f5f5f5 !important;
                                padding-bottom: 0;
                            }

                            .overlay__heading-text {
                                font-size: 40px;
                                line-height: 36px;
                                font-family: 'bogs_headlineregular', Arial, sans-serif;
                                text-transform: uppercase;

                                @media screen and (max-width: 1750px) and (min-width: 1451px)  {
                                    font-size: 34px;
                                    line-height: 30px;
                                }

                                @media screen and (max-width: 1450px) and (min-width: 1251px) {
                                    font-size: 28px;
                                    line-height: 24px;
                                }

                                @media screen and (max-width: 1250px)  {
                                    font-size: 22px;
                                    line-height: 18px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 26px;
                                    line-height: 26px;
                                    margin-bottom: 20px;
                                }
                            }

                            .feature_slider__slide--overlay__desc {
                                font-size: 28px;
                                line-height: 50px;

                                @media screen and (max-width: 1750px) and (min-width: 1451px)   {
                                    font-size: 24px;
                                    line-height: 42px;
                                }

                                @media screen and (max-width: 1450px) and (min-width: 1251px)   {
                                    font-size: 20px;
                                    line-height: 36px;
                                }

                                @media screen and (max-width: 1250px) and (min-width: 1051px){
                                    font-size: 18px;
                                    line-height: 26px;
                                }

                                @media screen and (max-width: 1050px){
                                    font-size: 16px;
                                    line-height: 22px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                        }

                        img {
                            transition: transform 250ms ease-out 0s;
                        }

                        &:hover {
                            .overlay__wrapper {
                                display: flex;
                                opacity: 1;
                                background: rgba(243, 243, 243, 80%);
                                // background: rgba(0, 0, 0, 33%);
                                transition: background 250ms ease-out 0s,
                                    opacity 250ms ease-out 0s;

                                @media screen and (max-width: 768px) {
                                    background: none;
                                }
                            }

                            img {
                                @media screen and (min-width: 768px) {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    &.swiper-slide-prev {
                        &:hover {
                            transform: none;
                        }
                    }

                    &.swiper-slide-next {
                        &:hover {
                            transform: none;
                        }
                    }
                }

                .swiper-pagination {
                    bottom: 0px !important;
                    line-height: 0;
                    //   display: none;

                    @media screen and (min-width:768px) {
                        //   display: none;
                    }

                    @media screen and (max-width:768px) {
                        bottom: 31px !important;
                    }

                    .swiper-pagination-bullet {
                        width: 21px;
                        height: 21px;

                        @media screen and (max-width:768px) {
                            width: 11px;
                            height: 11px;
                        }
                    }
                }
            }


        }

        #warehouse__package__section {
            position: relative;
            margin-bottom: 40px;

            @media screen and (max-width: 992px) {
                margin-bottom: 70px;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 22px;
            }

            .warehouse__package__section--heading {
                text-align: center;
                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                }

                .warehouse__package__section--heading-text {
                    margin-bottom: 12px;
                    font-size: 80px;
                    line-height: 118px;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;
                    text-transform: uppercase;

                    @media screen and (max-width: 992px) {
                        width: 50%;
                        margin: 0 auto 15px;
                        font-size: 34px;
                        line-height: 34px;
                    }
                }
            }

            .overlay__container {
                position: absolute;
                width: 30%;
                top: 50%;
                left: 70px;
                padding: 4.85% 2.5% 3.5% 3.25%;
                background: rgba($color: #ffffff, $alpha: 0.32);
                transform: translateY(-40%);

                @media screen and (max-width: 1380px) {
                    width: 35%;
                }

                @media screen and (max-width: 1200px) {
                    width: 40%;
                }

                @media screen and (max-width: 992px) {
                    position: unset;
                    width: 100%;
                    transform: unset;
                    padding: 50px 22px 0 22px;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 15px;
                    background: #f5f5f5;
                    padding-bottom: 25px;
                }

                .wp__overlay__text {
                    margin-bottom: 45px;
                    font-size: 40px;
                    line-height: 36px;
                    text-transform: uppercase;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;

                    @media screen and (max-width: 1500px) {
                        font-size: 36px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 30px;
                        line-height: 30px;
                    }

                    @media screen and (max-width: 992px) {
                        margin-bottom: 15px;
                        font-size: 26px;
                        line-height: 26px;
                    }
                }

                .wp__overlay__desc {
                    font-size: 28px;
                    line-height: 50px;

                    @media screen and (max-width: 1500px) {
                        font-size: 24px;
                        line-height: 40px;
                    }

                    @media screen and (max-width: 1200px) and (min-width: 992px) {
                        font-size: 20px;
                        line-height: 32px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }

        #goals__section {
            display: flex;
            width: 100%;
            margin-bottom: 45px;

            @media screen and (max-width: 992px) {
                flex-flow: column;
                margin-bottom: 10px;
            }

            .video__container {
                width: 50%;
                margin-right: 20px;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    margin-bottom: 15px;
                    margin-right: 0px;
                }
            }

            .goals__description--slide {
                display: flex;
                width: 50%;
                padding: 4.5% 4.9% 5% 4.9%;
                flex-flow: column;
                justify-content: center;
                background: #d9cfbd;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 12% 10% 35px 35px;
                }

                .goals__description--heading {
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;

                    @media screen and (max-width: 992px) {
                        font-size: 26px;
                        line-height: 26px;
                        margin-bottom: 20px;
                    }
                }

                .goals__description--text {
                    font-size: 28px;
                    line-height: 50px;
                    font-family: "trade-gothic-next", Arial, sans-serif;

                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .feature__slider-description {
        margin-top: 0px;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
    }
}

@import "footer-redesigned.scss";