@import "mixins.scss";

.landing-FiveMarysFarm__module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        // max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            //   margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        #hero__video {
            margin-top: 70px;
            margin-bottom: 70px;

            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }

            .page_header--videobg-wrapper {
                position: relative;
            }

            .newLanding__textWrapper--middle {
                left: 0%;
                width: 100%;
                max-width: unset;
                top: 50%;
                padding: 0;
                
                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                @media screen and (max-width: 992px) {
                    width: 100%;
                    // height: 100%;
                    padding: 43px 35px 43px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }

                @media screen and (min-width: 3450px) {
                    // right: 5%;
                    // width: 55%;
                }

                .video__overlay--images {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 992px) {
                        flex-flow: column;
                    }

                    img {
                        margin-right: 45px;

                        &.mf5-img{
                            @media screen and (max-width: 1300px) and (min-width: 1101px) {
                                max-width: 450px;
                            }
                            @media screen and (max-width: 1100px) and (min-width: 993px) {
                                max-width: 375px;
                            }
                        }
                        &.cross-img{
                            @media screen and (max-width: 1300px) and (min-width: 1101px) {
                                max-width: 40px;
                            }
                            @media screen and (max-width: 1100px) and (min-width: 993px) {
                                max-width: 30px;
                            }
                        }
                        &.bogs-logo-img{
                            @media screen and (max-width: 1300px) and (min-width: 1101px) {
                                max-width: 375px;
                            }
                            @media screen and (max-width: 1100px) and (min-width: 993px) {
                                max-width: 300px;
                            }
                        }

                        @media screen and (max-width: 992px) {
                            margin-right: unset;
                            
                            &.mf5-img{
                                width: 60%;
                                max-width: 300px;
                            }
                            &.cross-img{
                                width: 7%;
                                margin: 16px 0;
                                max-width: 25px;
                            }
                            &.bogs-logo-img{
                                width: 50%;
                                max-width: 200px;
                            }
                        }
                    }
                }

                .watch_video__btn--wrapper {
                    margin-top: 75px;
                    text-align: center;

                    

                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                        margin-top: 45px;
                    }

                    .shop__btn {
                        @include shopButtonWhite;
                        margin-right: 15px;
                        width: unset;
                        letter-spacing: 0;
                        font-size: 30px;

                        @media screen and (max-width: 992px) {
                            width: unset;
                            font-size: 25px;
                        }
                        @media screen and (max-width: 768px) {
                            margin-right: 10px;
                            font-size: 20px;
                            width: unset;
                        }
                    }
                }
            }
        }

        .mainContainer__UpdatedMargins {
            max-width: 1750px;
            margin: auto;
            position: relative;

            @media screen and (min-width: 768px) {
                margin: auto 48px;
            }

            @media screen and (min-width: 1750px) {
                margin: auto;
            }

            @media screen and (max-width: 992px) {
                margin: 0 0px;
            }

            .collaboration_text__module {
                text-align: center;
                @media screen and (max-width: 992px) {
                    margin-bottom: 30px;
                    padding: 0 45px;
                }

                .collaboration__text {
                    margin-bottom: 45px;
                    font-size: 30px;
                    color: #171717;

                    @media screen and (max-width: 992px) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                        margin-bottom: 25px;
                    }
                }

                .shop__btn {
                    @include shopButtonBlack;
                    font-size: 30px;

                    &:hover {
                        background: white;
                        border: 2px solid #171717;
                    }
                }
            }


            .inspiration__module {
                margin-bottom: 20px;

                &:nth-of-type(2) {
                    margin-top: 100px;
                }

                @media screen and (max-width: 992px) {
                    display: none;
                  }

                .feature_slider__headline-wrapper {
                    padding: 0;

                    .feature_slider__headline {
                        font-size: 55px;
                        color: #1d1c1d;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'bogs_headlineregular', Arial, sans-serif;
                    }
                }

                .dual__swiper-container--nov {

                    .swiper-wrapper {
                        justify-content: space-between;

                        .dual__swiper__slide {
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;
                            align-self: self-end;

                            .dual__swiper__slide--left {
                                position: relative;
                                margin-left: 15px;
                            }


                            .dual__swiper__slide--right {
                                position: relative;
                            }

                            .inner__slide {
                                position: relative;
                                overflow: hidden;
                                height: 100%;

                                .overlay__wrapper {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &:hover {
                                    .overlay__wrapper {
                                        opacity: 1;
                                    }
                                }
                            }

                            &.three__images {
                                .dual__swiper__slide--left {
                                    display: flex;
                                    flex-flow: column;
                                    justify-content: space-between;

                                    .dual__swiper__slide--left-inner {
                                        height: 50%;

                                        &:nth-of-type(1) {
                                            margin-bottom: 20px;
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }

                            .dual__swiper__image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: transform 0.5s;
                            }

                            &.three__images {
                                .dual__swiper__slide--left {
                                    width: 100%;
                                    flex-flow: row;

                                    .shop__btn {
                                        @include shopButtonWhite;
                                        width: unset;
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        right: 0;
                                        width: fit-content;
                                        margin: auto;
                                        transform: translateY(-50%);
                                        font-size: 30px;
                                    }
                                }


                                .dual__swiper__slide--right {
                                    width: 100%;
                                }

                            }
                        }
                    }

                    .dual__swiper--pagination {
                        display: none;
                        bottom: 0px !important;

                        .swiper-pagination-bullet {
                            width: 11px;
                            height: 11px;
                        }
                    }
                }

                &.inverted {
                    .swiper-wrapper {
                        flex-flow: row-reverse;

                        .dual__swiper__slide {
                            flex-flow: column-reverse;
                            margin-right: 0 !important;

                            .dual__swiper__slide--left {
                                margin-left: 0%;
                            }
                        }
                    }
                }

                &.non-inverted {
                    .swiper-container {
                        .swiper-wrapper {
                            .dual__swiper__slide {
                                .dual__swiper__slide--left {
                                    margin-left: 0;
                                    margin-top: 20px;

                                    .dual__swiper__slide--left-inner {
                                        &:nth-of-type(1) {
                                            margin-bottom: 0;
                                            margin-right: 20px;
                                        }
                                    }
                                }

                                .dual__swiper__slide--right {
                                    .shop__btn {
                                        @include shopButtonWhite;
                                        width: unset;
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        right: 0;
                                        width: 50%;
                                        margin: auto;
                                        max-width: 242px;
                                        transform: translateY(-50%);
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #inspiration__module-mobile {
                margin-bottom: 25px;
          
                @media screen and (min-width: 992px) {
                  display: none;
                }
                .feature_slider__headline-wrapper {
                    min-height: unset;
                    padding: 0;

                    .feature_slider__headline {
                        font-size: 32px;
                        color: #1d1c1d;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'bogs_headlineregular', Arial, sans-serif;
                    }
                }
          
                .dual__swiper__slide {
                  position: relative;
                  height: auto;

                  a{
                    width: 100%;
                  }

                  .video-btn.specific__btn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    width: fit-content;
                    height: 30px;
                    margin: auto;
                    padding: 0px 20px;
                    background: #ffffff;
                    border-radius: 16px;
                    font-size: 20px;
                  }
          
                  .dual__swiper__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
          
                .swiper-pagination {
                  @media screen and (max-width: 768px) {
                    width: 100% !important;
                    bottom: 15px !important;
          
                    .swiper-pagination-bullet {
                      width: 11px;
                      height: 11px;
                      left: 0 !important;
                      background: transparent;
                      opacity: 1;
                      border: 2px solid #000000;
          
                      &.swiper-pagination-bullet-active {
                        background: #000000;
                      }
                    }
                  }
                }
            }

            .m5_farms__module {
                margin-top: 55px;
                .feature_slider__headline-wrapper {
                    margin-bottom: 40px;
                    padding: 0;
                    text-align: center;
                    @media screen and (max-width: 992px) {
                        margin-bottom: 25px;
                       }

                    .feature_slider__headline {
                        margin-bottom: 25px;
                        font-size: 55px;
                        color: #1d1c1d;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'bogs_headlineregular', Arial, sans-serif;

                        @media screen and (max-width: 992px) {
                            margin-bottom: 15px;
                            font-size: 42px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 32px;
                            margin-bottom: 15px;
                        }
                    }
                    .learn__more-btn {
                        
                        background: #000000;
                        padding: 10px 25px;
                        border-radius: 30px;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-family: "front_page_neueregular";
                        font-weight: 400;
                        padding: 5px 15px;
                        color: #ffffff;
                        font-size: 24px;
                        letter-spacing: 1.5px;
                        border-radius: 30px;
                        text-transform: uppercase;
                        text-align: center;
                        justify-content: center;
                        z-index: 999;
            
                        &:hover {
                          background: #ffffff;
                          border: 2px solid #000000 !important;
                          color: #171717;
                        }
            
                        @media screen and (max-width: 992px) {
                         font-size: 24px;
                        }
                        @media screen and (max-width: 768px) {
                         font-size: 19px;
                        }
                      }
                }

                .m5__heading-text--mobile{
                    font-size: 16px;
                    text-align: center;
                    padding: 0 40px;
                    @media screen and (min-width: 992px) {
                        display: none;
                       }
                }

                .m5__text__slider {
                    .swiper-wrapper {
                        .dual__swiper__slide {
                            display: flex;
                            width: 100% !important;

                            .dual__swiper__slide--right {
                                width: 50%;
                                margin-right: 20px;
                                background: #4A899F;

                                @media screen and (max-width: 992px) {
                                    width: 100%;
                                    margin: 0;
                                }
                                   

                                .colored__bg {
                                    position: relative;

                                    .overlay__wrapper {
                                        display: flex;
                                        padding: 10.5% 6.75% 9%;
                                        flex-flow: column;
                                        justify-content: end;
                                        cursor: default;

                                        @media screen and (max-width: 1665px) and (min-width: 1201px) {
                                            // padding: 0 10% 14%;
                                        }

                                        @media screen and (max-width: 992px) and (min-width: 769px) {
                                            // padding: 0 5% 8%;
                                        }

                                        @media screen and (max-width: 768px) {
                                            // padding: 0 32px;
                                            justify-content: center;
                                        }

                                        .dss__desc {
                                            margin-bottom: 60px;
                                            font-size: 30px;
                                            line-height: 35px;
                                            text-align: left;
                                            color: #ffffff;

                                            @media screen and (max-width: 1665px) and (min-width: 1451px) {
                                                font-size: 22px;
                                                line-height: 28px;
                                                margin-bottom: 45px;
                                            }

                                            @media screen and (max-width: 1450px) and (min-width: 1201px) {
                                                font-size: 18px;
                                                line-height: 24px;
                                                margin-bottom: 45px;
                                            }

                                            @media screen and (max-width: 1200px) and (min-width: 993px) {
                                                font-size: 15px;
                                                line-height: 21px;
                                                margin-bottom: 30px;
                                            }

                                            @media screen and (max-width: 992px) and (min-width: 769px) {
                                                margin-bottom: 30px;
                                                font-size: 16px;
                                                line-height: 18px;
                                            }

                                            @media screen and (max-width: 768px) {
                                                margin-bottom: 30px;
                                                font-size: 16px;
                                                line-height: 24px;
                                            }
                                        }

                                        .shop__btn {
                                            @include shopButtonWhite;
                                        }
                                    }
                                }
                            }

                            .dual__swiper__slide--left {
                                display: flex;
                                flex-flow: row;
                                flex-wrap: wrap;
                                width: 50%;
                                justify-content: space-between;
                                @media screen and (max-width: 992px) {
                                    display: none;
                                }
                                .dual__swiper__slide--left-inner {
                                    width: 49%;
                                    &:nth-child(1){
                                        margin-right: 2%;
                                        margin-bottom: 3%;
                                    }
                                    &:nth-child(3){
                                        margin-right: 2%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #m5_farms__module-mobile {
                margin: 15px 0;
          
                @media screen and (min-width: 992px) {
                  display: none;
                }
          
                .dual__swiper__slide {
                  position: relative;
                  height: auto;
                  a{
                    width: 100%;
                  }

                  .video-btn.specific__btn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    width: fit-content;
                    height: 30px;
                    margin: auto;
                    padding: 0px 20px;
                    background: #ffffff;
                    border-radius: 16px;
                    font-size: 20px;
                  }
          
                  .dual__swiper__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
          
                .swiper-pagination {
                  @media screen and (max-width: 768px) {
                    width: 100% !important;
                    bottom: 15px !important;
          
                    .swiper-pagination-bullet {
                      width: 11px;
                      height: 11px;
                      left: 0 !important;
                      background: transparent;
                      opacity: 1;
                      border: 2px solid #000000;
          
                      &.swiper-pagination-bullet-active {
                        background: #000000;
                      }
                    }
                  }
                }
            }
        }
    }

    .feature__slider-description {
        margin-top: 70px;

        @media screen and (max-width: 768px) {
            margin-top: 35px;
        }
    }
}

@import "footer-redesigned.scss";