@import "mixins.scss";

.reuse_boot__module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        #sale__banner {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 126px;
            padding: 0;
            background: #eaeaea;
            text-align: center;

            @media screen and (min-width: 992px) {
                display: none;
            }

            @media screen and (max-width: 992px) {
                margin-top: 70px;
            }

            @media screen and (max-width: 768px) {
                justify-content: center;
                padding: 14px 0;
            }

            video {
                margin-right: 45px;
                max-height: 75px;

                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }

                @media screen and (max-width: 480px) {
                    max-height: 60px;
                }
            }

            .sb__right {
                display: flex;
                flex-flow: row;
                align-items: center;

                @media screen and (max-width: 768px) {
                    flex-flow: column;
                    margin-left: 40px;
                }

                @media screen and (max-width: 480px) {
                    margin-left: 20px;
                }
            }

            .sb__heading {
                margin-bottom: 0;
                font-size: 35px;
                margin-right: 25px;
                line-height: 40px;
                color: #171717;
                text-transform: uppercase;
                font-family: "bogs_headlineregular", Arial, sans-serif;

                @media screen and (max-width: 480px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 374px) {
                    font-size: 22px;

                }
            }

            .sb__discountCode {
                font-size: 16px;
                font-weight: 700;
                color: #F07622;
                text-transform: uppercase;
                margin-bottom: 0;

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }

                @media screen and (max-width: 374px) {
                    font-size: 15px;
                }
            }
        }

        #goals__section {
            display: flex;
            width: 100%;
            margin-top: 126px;
            margin-bottom: 45px;

            @media screen and (max-width: 992px) {
                flex-flow: column;
                margin-top: 15px;
                margin-bottom: 25px;
            }


            .goals__description--slide {
                width: 35%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                background: #F4F4F4;
                padding: 0 4.25% 0 5.7%;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 7% 7% 40px 7%;
                }

                .goals__heading {
                    margin-bottom: 14px;
                    font-size: 43px;
                    line-height: 42px;
                    text-transform: uppercase;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;

                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 34px;
                    }

                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 28px;
                        line-height: 30px;
                    }

                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 24px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 24px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 36px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }

                .goals__description--text {
                    margin: 0px 0 15px;
                    font-size: 22px;
                    line-height: 40px;
                    font-family: "trade-gothic-next", Arial, sans-serif;

                    @media screen and (max-width: 1750px) and (min-width: 1515px) {
                        font-size: 22px;
                        line-height: 32px;
                    }

                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 21px;
                        line-height: 28px;
                    }

                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 19px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 17px;
                        line-height: 23px;
                    }

                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 15px;
                        line-height: 19px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 16px;
                        line-height: 30px;
                    }
                    
                }
                .shop__btn {
                    @include shopButtonBlack;
                    font-size: 25px;
                    width: max-content;
                    margin-top: 13px;
                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 17px;
                        height: 34px;
                        line-height: 34px;
                    }
                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 16px;
                        height: 34px;
                        line-height: 34px;
                    }
                    @media screen and (max-width: 992px){
                        width: max-content;
                        font-size: 18px;
                    }
                  }
            }

            .goals_three__images {
                display: flex;
                width: 65%;
                flex-flow: column;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }

                .three__images--upper {
                    // margin-bottom: 20px;

                    @media screen and (max-width: 992px) {
                        // margin-bottom: 10px;
                    }
                }
            }
        }

        #reuse__working-section {
            margin-bottom: 60px;
            

            @media screen and (max-width: 768px) {
                margin-bottom: 23px;
            }

            .feature_slider__headline-wrapper {
                @include sectionHeading;
                text-transform: capitalize;

                .feature_slider__headline {
                    font-size: 30px;

                    @media screen and (max-width: 992px) {
                        font-size: 20px;
                    }
                }

            }

            .reuse__swiper-container {
                .swiper-slide {
                    position: relative;
                    min-height: 465px;
                    padding-bottom: 100px;
                    text-align: center;
                    padding-top: 85px;

                    @media screen and (max-width: 768px) {
                        padding-bottom: 90px;
                        padding-top: 135px;
                        min-height: unset;
                    }

                    .reuse__swiper__image {
                        max-height: 250px;
                        margin-bottom: 50px;

                        @media screen and (max-width: 1149px) and (min-width: 992px) {
                            max-height: 100px;
                        }

                        @media screen and (max-width: 768px) {
                            max-height: 134px;
                        }
                        &.img__adjustment{
                            // object-position: -8px;
                            margin-left: -42.5px;
                        }
                    }

                    .overlay__text {
                        // position: absolute;
                        // top: 30px;
                        // left: 45px;
                        width: 85%;
                        margin: auto;
                        text-align: center;

                        @media screen and (max-width: 1299px) and (min-width: 1150px) {
                            width: 95%;
                        }

                        @media screen and (max-width: 768px) {
                            top: 28px;
                            left: 35px;
                            width: 100%;
                        }

                        .step__desc {
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 28px;
                            text-transform: capitalize;

                            // @media screen and (max-width: 1550px) and (min-width: 1400px) {
                            //     font-size: 16px;
                            // }

                            // @media screen and (max-width: 1399px) and (min-width: 1300px) {
                            //     font-size: 15px;
                            // }

                            // @media screen and (max-width: 1299px) and (min-width: 1150px) {
                            //     font-size: 14px;
                            // }

                            // @media screen and (max-width: 1149px) and (min-width: 992px) {
                            //     font-size: 14px;
                            // }


                            @media screen and (max-width: 1750px) and (min-width: 1515px) {
                                font-size: 23px;
                            }

                            @media screen and (max-width: 1514px) and (min-width: 1400px) {
                                font-size: 24px;
                            }

                            @media screen and (max-width: 1399px) and (min-width: 1251px) {
                                font-size: 21px;
                            }

                            @media screen and (max-width: 1250px) and (min-width: 1101px) {
                                font-size: 17px;
                            }

                            @media screen and (max-width: 1100px) and (min-width: 993px) {
                                font-size: 16px;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .reuse__swiper--pagination.landing-listview-pagination {
                    line-height: 0;
                    bottom: 33px !important;

                    @media screen and (max-width: 992px) {
                        visibility: visible !important;
                    }

                    .swiper-pagination-bullet {
                        width: 11px;
                        height: 11px;
                    }
                }
            }
        }
    }



    .feature__slider-description {
        margin-top: 60px;

        @media screen and (max-width: 768px) {
            margin-top: 25px;
        }
    }
}

@import "footer-redesigned.scss";