@import "mixins.scss";

.landing-artist__module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    .object__position-adjusted {
        @media screen and (max-width: 768px) {
            margin-bottom: 5px;
        }
    }

    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    .grey__divider {
        display: block;
        width: 100%;
        height: 1px;
        background: #707070;

        @media screen and (max-width: 768px) {
            // display: none;
            margin-bottom: 15px;
        }
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        .newLanding__header--artist {
            margin-top: 70px;
            margin-bottom: 60px;

            @media screen and (min-width: 992px) {
                margin-top: 126px;
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 15px;
            }

            picture {
                img {
                    @media screen and (min-width: 992px) {
                        max-height: 312px;
                        object-fit: cover;
                        object-position: bottom;
                    }
                }
            }

            .newLanding__textWrapper--middle {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(-50%);
                padding-left: 0;

                @media screen and (max-width: 992px) {
                    // top: 52%;
                    // right: 10%;
                    // display: none;
                }

                .newLanding__title {
                    font-size: 130px;
                    line-height: 117px;
                    padding: 0;
                    text-align: center;
                    // margin-top: 45px;

                    @media screen and (max-width: 1750px) {
                        font-size: 90px;
                        line-height: 76px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 70px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 40px;
                        line-height: 36px;
                        margin-top: 7px;
                    }
                }

                .shop__btn {
                    @include shopButtonBlack;
                }
            }
        }

        .artist__section {
            margin-bottom: 75px;
            margin-top: 70px;

            @media screen and (max-width: 992px) {
                margin-bottom: 60px;
                margin-top: 0;
            }

            .featured_style-wrapper {
                display: flex;
                margin-bottom: 20px;
                justify-content: space-between;

                @media screen and (max-width: 992px) {
                    flex-flow: column;
                }

                .featured__styles-image-wrapper {
                    position: relative;
                    width: 50%;
                    overflow: hidden;

                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }

                    &:nth-of-type(1) {
                        // margin-right: 20px;

                        @media screen and (max-width: 992px) {
                            margin-right: 0;
                            margin-bottom: 15px;
                        }
                    }

                    .video__play-btn {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: 0;
                        display: inline-block;
                        width: 75px;
                        height: 87px;
                        margin: auto;
                        z-index: 999;
                        transform: translateY(-50%);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='86.603' viewBox='0 0 75 86.603' style='&%2310;'%3E%3Cpath id='Path_199' data-name='Path 199' d='M0,0V86.6L37.5,64.952,75,43.3,37.5,21.65Z' fill='%23fff' opacity='0.733' style='&%2310;'/%3E%3C/svg%3E");

                        @media screen and (min-width: 769px) {
                            display: none;
                        }

                        @media screen and (max-width: 768px) {
                            width: 50px;
                            height: 62px;
                        }

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    .hoveredImage__wrapper {
                        position: relative;
                        display: contents;

                        .showOnHover {
                            // display: none;
                            opacity: 0;
                            position: absolute;
                        }
                    }

                    .artist__text-overlay {
                        position: absolute;
                        right: 0;
                        bottom: 78px;
                        left: 0;
                        margin: auto;
                        text-align: center;
                        z-index: 99;

                        @media screen and (max-width: 992px) {
                            bottom: 55px;
                        }

                        .artist__text-heading {
                            font-size: 40px;
                            line-height: 45px;
                            text-transform: uppercase;
                            color: #ffffff;
                            font-family: 'bogs_headlineregular', Arial, sans-serif;
                        }

                        .artist__text-company {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 25px;
                            color: #ffffff;
                        }

                        &.secondary_slide {
                            width: 70%;
                            font-size: 24px;
                            line-height: 30px;
                            color: #171717;

                            @media screen and (max-width: 768px) {
                                display: none;
                            }
                        }
                    }

                    .overlay__wrapper {
                        // display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        opacity: 0;
                        justify-content: center;
                        align-items: center;

                        .overlay__redirect {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;

                            @media screen and (max-width: 768px) {
                                display: none;
                            }
                        }

                        .watch__video-btn {
                            display: inline-block;
                            width: 210px;
                            height: 42px;
                            font-family: "front_page_neueregular";
                            padding: 0 15px 0 19px;
                            font-weight: 400;
                            line-height: 42px;
                            background: #ffffff;
                            color: #171717;
                            letter-spacing: 1.5px;
                            border-radius: 30px;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 28px;
                            justify-content: center;
                            z-index: 9;

                            @media screen and (max-width: 768px) {
                                display: none;
                            }

                            &:hover {
                                color: #ffffff;
                                background: #171717;
                            }
                        }

                        .shop__btn {
                            @include shopButtonWhite;
                            z-index: 999;

                            @media screen and (max-width: 768px) {
                                margin-left: 25px;
                                @include shopButtonBlack;
                                // display: none;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            display: flex;
                            height: calc(100% - 31px);
                            top: unset;
                            bottom: 31px;
                            opacity: 1;
                            align-items: end;
                            justify-content: flex-start;
                            background: none !important;
                        }
                    }

                    img {
                        transition: opacity ease-in-out .2s;
                    }

                    &:hover {
                        .overlay__wrapper {
                            display: flex;
                            opacity: 1;
                            background: rgba(0, 0, 0, 33%);
                            transition: background linear 200ms, opacity linear 100ms;
                        }

                        .hoveredImage__wrapper {

                            .hideOnHover {
                                display: none;

                                @media screen and (max-width: 768px) {
                                    display: block;
                                }
                            }

                            .showOnHover {
                                // display: block;
                                opacity: 1;

                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .artist__artwork-wrapper {
                display: flex;
                margin-bottom: 40px;

                @media screen and (max-width: 768px) {
                    display: none;
                }

                .artist__thumbnail-item {
                    margin-right: 25px;

                    &:nth-of-type(5) {
                        margin-right: 0;
                    }
                }
            }

            .artist__artwork-wrapper--mobile {
                margin-bottom: 20px;

                @media screen and (min-width: 768px) {
                    display: none;
                }

                .dual__swiper__image {
                    width: 100%;
                }

                .swiper-pagination {
                    width: 100% !important;
                    bottom: 20px !important;

                    .swiper-pagination-bullet {
                        left: unset !important;
                    }
                }
            }

            .artist__social_links-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 768px) {
                    flex-flow: column;
                }

                .artist__social-btn {
                    width: auto;
                    height: 42px;
                    padding: 0 25px;
                    background: #000000;
                    color: #ffffff;
                    border-radius: 20px;
                    text-transform: uppercase;
                    font-size: 28px;
                    line-height: 42px;
                    text-align: center;
                    font-family: "front_page_neueregular";

                    @media screen and (max-width: 768px) {
                        font-size: 24px;
                        width: 100%;

                        &:nth-of-type(1) {
                            margin-right: 0 !important;
                            margin-bottom: 10px;
                        }

                    }

                    &:nth-of-type(1) {
                        margin-right: 25px;
                    }
                }
            }

            &.inverted {
                .featured_style-wrapper {
                    flex-flow: row-reverse;

                    @media screen and (max-width: 992px) {
                        flex-flow: column;
                    }

                    .featured__styles-image-wrapper {
                        &:nth-of-type(1) {
                            // margin-right: 0;
                            // margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .feature__slider-description {

        @media screen and (max-width: 768px) {
            margin-top: 65px;
        }
    }
}

@import "footer-redesigned.scss";