@import "mixins.scss";

.landing__care-module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        .landing-care__header {
            margin-top: 70px;
            margin-bottom: 50px;

            @media screen and (min-width: 992px) {
                margin-top: 126px;
            }

            @media screen and (max-width: 992px) {
                margin-bottom: 15px;
            }

            .landingCare__textWrapper--middle {
                margin: 0;
                position: absolute;
                top: 42%;
                right: 9%;
                transform: translateY(-50%);

                @media screen and (max-width: 992px) {
                    top: 45px;
                    right: unset;
                    left: 35px;
                    width: calc(100% - 70px);
                    height: calc(100% - 45px);
                    padding-bottom: 54px;
                    transform: translateY(0);
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                }

                .super__heading {
                    color: #ffffff;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 48px;

                    @media screen and (max-width: 1750px) {
                        font-size: 32px;
                        line-height: 76px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 26px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        line-height: 36px;
                    }
                }

                .newLanding__title {
                    font-size: 130px;
                    line-height: 118px;
                    padding: 0;
                    margin-top: 10px;
                    color: #ffffff;

                    @media screen and (max-width: 1750px) {
                        font-size: 80px;
                        line-height: 76px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 70px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 40px;
                        line-height: 36px;
                        margin-top: 5px;
                    }
                }

                .shipping__label--text {
                    width: 100%;
                    height: 42px;
                    margin-top: 60px;
                    border-radius: 20px;
                    color: white;
                    font-size: 28px;
                    font-family: "front_page_neueregular";
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    display: block;
                    background: #171717;
                    text-align: center;
                    line-height: 38px;

                    @media screen and (max-width: 992px) {
                        margin-top: 0;
                        height: 34px;
                        font-size: 20px;
                        line-height: 34px;
                    }
                }
            }
        }

        #reuse_section__one {
            display: flex;
            width: 100%;
            margin-bottom: 45px;

            @media screen and (max-width: 992px) {
                flex-flow: column;
                margin-bottom: 25px;
            }

            .reuse_section__one--left {
                width: 66.5%;
                margin-right: 20px;

                .reuse_sectionOne--image {
                    width: 100%;
                }
            }

            .goals__description--slide {
                width: 33.5%;
                padding: 7% 3.8% 5% 3.8%;
                background: #977B5D;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 12% 10% 35px 35px;
                }

                .goals__description--heading {
                    color: #ffffff;
                    font-size: 60px;
                    line-height: 26.4px;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                    font-family: 'bogs_headlineregular', Arial, sans-serif;

                    @media screen and (max-width: 992px) {
                        font-size: 36px;
                        line-height: 36px;
                        margin-bottom: 20px;
                    }
                }

                .goals__description--text {
                    color: #ffffff;
                    font-size: 30px;
                    line-height: 50px;
                    font-family: "trade-gothic-next", Arial, sans-serif;

                    @media screen and (max-width: 992px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .feature__slider-description {
        margin-top: 60px;

        @media screen and (max-width: 768px) {
            margin-top: 25px;
        }
    }
}

@import "footer-redesigned.scss";