@import "mixins.scss";

.reuse_boot__module {
    .swiper-pagination-bullet {
        transform: scale(1) !important;
    }

    @import "navbar-redesigned.scss";

    #mainContainer {
        max-width: 1750px;
        margin: auto;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: auto 48px;
        }

        @media screen and (min-width: 1750px) {
            margin: auto;
        }

        @media screen and (max-width: 992px) {
            margin: 0 16px;
        }

        #sale__banner {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 126px;
            padding: 0;
            background: #eaeaea;
            text-align: center;

            @media screen and (min-width: 992px) {
                display: none;
            }

            @media screen and (max-width: 992px) {
                margin-top: 70px;
            }

            @media screen and (max-width: 768px) {
                justify-content: center;
                padding: 14px 0;
            }

            video {
                margin-right: 45px;
                max-height: 75px;

                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }

                @media screen and (max-width: 480px) {
                    max-height: 60px;
                }
            }

            .sb__right {
                display: flex;
                flex-flow: row;
                align-items: center;

                @media screen and (max-width: 768px) {
                    flex-flow: column;
                    margin-left: 40px;
                }

                @media screen and (max-width: 480px) {
                    margin-left: 20px;
                }
            }

            .sb__heading {
                margin-bottom: 0;
                font-size: 35px;
                margin-right: 25px;
                line-height: 40px;
                color: #171717;
                text-transform: uppercase;
                font-family: "bogs_headlineregular", Arial, sans-serif;

                @media screen and (max-width: 480px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 374px) {
                    font-size: 22px;

                }
            }

            .sb__discountCode {
                font-size: 16px;
                font-weight: 700;
                color: #F07622;
                text-transform: uppercase;
                margin-bottom: 0;

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }

                @media screen and (max-width: 374px) {
                    font-size: 15px;
                }
            }
        }

        .reuse_boot__header {
            margin-top: 15px;
            margin-bottom: 50px;

            @media screen and (min-width: 992px) {
                margin-top: 126px;
            }

            @media screen and (max-width: 992px) {
                margin-bottom: 15px;
            }

            .reuseBoot__textWrapper--middle {
                margin: 0;
                position: absolute;
                top: 42%;
                left: 8%;
                color: white;
                transform: translateY(-50%);

                @media screen and (max-width: 992px) {
                    top: 45px;
                    right: unset;
                    left: 35px;
                    width: calc(100% - 70px);
                    height: calc(100% - 45px);
                    padding-bottom: 54px;
                    transform: translateY(0);
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                }

                .newLanding__title {
                    font-size: 100px;
                    line-height: 90px;
                    padding: 0;
                    margin-top: 45px;
                    color: #ffffff;

                    @media screen and (max-width: 1750px) {
                        font-size: 80px;
                        line-height: 76px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 70px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 40px;
                        line-height: 36px;
                        margin-top: 17px;
                        text-shadow: 0px 0px 2px #000000;
                    }
                }

                .shipping__label--text {
                    width: fit-content;
                    height: 42px;
                    margin-top: 30px;
                    padding: 0 25px;
                    border-radius: 20px;
                    color: #000000;
                    font-size: 28px;
                    font-family: "front_page_neueregular";
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    display: block;
                    background: #ffffff;
                    text-align: center;
                    line-height: 42px;

                    @media screen and (max-width: 992px) {
                        margin-top: 0;
                        height: 34px;
                        font-size: 20px;
                        line-height: 34px;
                    }
                }
            }
        }

        #shipping__label {
            text-align: center;
            margin-bottom: 50px;

            .shipping__label-btn {
                display: inline-block;
                max-width: 352px;
                width: 100%;
                height: 42px;
                border-radius: 20px;
                text-align: center;
                background: black;
                color: white;
                text-transform: uppercase;
                font-size: 28px;
                font-family: "front_page_neueregular";

                &:hover {
                    background: white;
                    color: black;
                    border: 2px solid #000000;
                }

                @media screen and (max-width: 992px) {
                    font-size: 24px;
                    height: 34px;
                    max-width: 250px;
                }
            }
        }

        #goals__section {
            display: flex;
            width: 100%;
            margin-bottom: 45px;

            @media screen and (max-width: 992px) {
                flex-flow: column;
                margin-bottom: 25px;
            }


            .goals__description--slide {
                width: 35.75%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                // padding: 1% 1% 5% 1%;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 8% 5% 25px 0px;
                }

                .goals__heading {
                    font-weight: 800;
                    font-size: 30px;

                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 27px;
                    }

                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 20px;
                    }
                }

                .goals__description--text {
                    font-size: 26px;
                    line-height: 40px;
                    font-family: "trade-gothic-next", Arial, sans-serif;

                    @media screen and (max-width: 1750px) and (min-width: 1515px) {
                        font-size: 23px;
                        line-height: 32px;
                    }

                    @media screen and (max-width: 1514px) and (min-width: 1400px) {
                        font-size: 24px;
                        line-height: 28px;
                    }

                    @media screen and (max-width: 1399px) and (min-width: 1251px) {
                        font-size: 21px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 1250px) and (min-width: 1101px) {
                        font-size: 17px;
                        line-height: 23px;
                    }

                    @media screen and (max-width: 1100px) and (min-width: 993px) {
                        font-size: 16px;
                        line-height: 19px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }

            .goals__middle_image--container {
                width: 23.6%;
                margin: 0 30px;

                @media screen and (max-width: 992px) {
                    display: none;
                }

                img {
                    height: 100%;
                }
            }

            .goals_three__images {
                display: flex;
                width: 40.5%;
                flex-flow: column;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }

                .three__images--upper {
                    margin-bottom: 20px;

                    @media screen and (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }

                .three__images--lower {
                    display: flex;

                    .lower__left {
                        margin-right: 20px;

                        @media screen and (max-width: 992px) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        #reuse__working-section {
            margin-bottom: 60px;

            @media screen and (max-width: 768px) {
                margin-bottom: 23px;
            }

            .feature_slider__headline-wrapper {
                @include sectionHeading;
                text-transform: capitalize;

                .feature_slider__headline {
                    font-size: 30px;

                    @media screen and (max-width: 992px) {
                        font-size: 20px;
                    }
                }

            }

            .reuse__swiper-container {
                .swiper-slide {
                    position: relative;
                    min-height: 465px;
                    padding-bottom: 100px;
                    text-align: center;
                    padding-top: 85px;

                    @media screen and (max-width: 768px) {
                        padding-bottom: 90px;
                        padding-top: 135px;
                        min-height: unset;
                    }

                    .reuse__swiper__image {
                        max-height: 250px;
                        margin-bottom: 50px;

                        @media screen and (max-width: 1149px) and (min-width: 992px) {
                            max-height: 100px;
                        }

                        @media screen and (max-width: 768px) {
                            max-height: 134px;
                        }
                        &.img__adjustment{
                            // object-position: -8px;
                            margin-left: -42.5px;
                        }
                    }

                    .overlay__text {
                        // position: absolute;
                        // top: 30px;
                        // left: 45px;
                        width: 85%;
                        margin: auto;
                        text-align: center;

                        @media screen and (max-width: 1299px) and (min-width: 1150px) {
                            width: 95%;
                        }

                        @media screen and (max-width: 768px) {
                            top: 28px;
                            left: 35px;
                            width: 100%;
                        }

                        .step__desc {
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 28px;
                            text-transform: capitalize;

                            // @media screen and (max-width: 1550px) and (min-width: 1400px) {
                            //     font-size: 16px;
                            // }

                            // @media screen and (max-width: 1399px) and (min-width: 1300px) {
                            //     font-size: 15px;
                            // }

                            // @media screen and (max-width: 1299px) and (min-width: 1150px) {
                            //     font-size: 14px;
                            // }

                            // @media screen and (max-width: 1149px) and (min-width: 992px) {
                            //     font-size: 14px;
                            // }


                            @media screen and (max-width: 1750px) and (min-width: 1515px) {
                                font-size: 23px;
                            }

                            @media screen and (max-width: 1514px) and (min-width: 1400px) {
                                font-size: 24px;
                            }

                            @media screen and (max-width: 1399px) and (min-width: 1251px) {
                                font-size: 21px;
                            }

                            @media screen and (max-width: 1250px) and (min-width: 1101px) {
                                font-size: 17px;
                            }

                            @media screen and (max-width: 1100px) and (min-width: 993px) {
                                font-size: 16px;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .reuse__swiper--pagination.landing-listview-pagination {
                    line-height: 0;
                    bottom: 33px !important;

                    @media screen and (max-width: 992px) {
                        visibility: visible !important;
                    }

                    .swiper-pagination-bullet {
                        width: 11px;
                        height: 11px;
                    }
                }
            }
        }
    }



    .feature__slider-description {
        margin-top: 60px;

        @media screen and (max-width: 768px) {
            margin-top: 25px;
        }
    }
}

@import "footer-redesigned.scss";